<div class="jumbotron">
    <div class="container">
        <h1>About Kate</h1>
        <h2>Some paragraph here about Kate, her accomplishments, philosophies, interests, yada yada yada. :P</h2>
    </div>
</div>