// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('new_zealand_35.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

* {
    font-family: $myBlog-fontstyle;
}

h2 {
    color: black;
}

a {
    color: darkslateblue;
    text-decoration: none;
}

p {
    @include myBlog-fontsettings(#fafad2, "Times");
}

body {
    background-color: $body-bg;
}

.btn {
    border-radius: 20%;
    border: 5px ridge #223304;
    color: #223304;
    background-color: #fafad2;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-style: bold;
    text-align: center center;
}

// .form-group {
//     max-width: 200px;
// }