// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('new_zealand_35.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

* {
    font-family: Indie Flower, cursive;
}

h1, h3, h4 {
    color: #fafad2;
}

h2 {
    color: black;
}

a {
    color: darkslateblue;
    text-decoration: none;
}

p {
    color: #fafad2;
}

body {
    background-color: #fafad2;
}

.btn {
    border-radius: 20%;
    border: 5px ridge #223304;
    color: #223304;
    background-color: #fafad2;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-style: bold;
    text-align: center center;
}