// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('new_zealand_35.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
}

* {
    font-family: 'Rancho', cursive;
}

.navbar-brand {
    padding: 5px;
    font-size: 25px;
}

li {
    padding: 5px;
}

// p {
//     @include myBlog-fontsettings(#fafad2, $myBlog-fontstyle);
// }

// .form-group {
//     max-width: 200px;
// }