h4.card-title {
    color: #0A3102;
}


h4.contributor {
    color: #0A3102;
}


p.card-text {
    color: #0A3102;
}

ul.list-group {
    color: #0A3102;
}

h5.list-group-item-heading {
    color: #0A3102;
}

h5.list-group-item-text {
    color: #0A3102;
}