.new_contributor {
    max-width: 330px;
    padding: 5em 1em;
    margin: 0 auto;
    background-color: #7FAF1B;
    border: 10px groove #D9FFA9;
}

.btn {
    background-color: #fafad2;
    color: #223304;
    border-color: #D9FFA9;
    font-family: 'Merienda', cursive;
}

// .form-group {
//     max-width: 200px;
//     border-width: 50px;
// }